/**
 * 0.0 IE Fix
 * -----------------------------------------------------------------------------
 */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/**
 * 1.0 Enhanced Bootstrap Styles
 * -----------------------------------------------------------------------------
 */

/* Reset */
body {
	font-weight: 400;
	letter-spacing: 0.5px;
	word-wrap: break-word;
}
a {
    cursor: pointer;
}
a:focus, a:active, a:hover {
    outline: 0;
}
.img-responsive {
	width: auto;
}

/* Grid */
.center-block.col-xs-1, .center-block.col-sm-1, .center-block.col-md-1, .center-block.col-lg-1, .center-block.col-xs-2, .center-block.col-sm-2, .center-block.col-md-2, .center-block.col-lg-2, .center-block.col-xs-3, .center-block.col-sm-3, .center-block.col-md-3, .center-block.col-lg-3, .center-block.col-xs-4, .center-block.col-sm-4, .center-block.col-md-4, .center-block.col-lg-4, .center-block.col-xs-5, .center-block.col-sm-5, .center-block.col-md-5, .center-block.col-lg-5, .center-block.col-xs-6, .center-block.col-sm-6, .center-block.col-md-6, .center-block.col-lg-6, .center-block.col-xs-7, .center-block.col-sm-7, .center-block.col-md-7, .center-block.col-lg-7, .center-block.col-xs-8, .center-block.col-sm-8, .center-block.col-md-8, .center-block.col-lg-8, .center-block.col-xs-9, .center-block.col-sm-9, .center-block.col-md-9, .center-block.col-lg-9, .center-block.col-xs-10, .center-block.col-sm-10, .center-block.col-md-10, .center-block.col-lg-10, .center-block.col-xs-11, .center-block.col-sm-11, .center-block.col-md-11, .center-block.col-lg-11, .center-block.col-xs-12, .center-block.col-sm-12, .center-block.col-md-12, .center-block.col-lg-12 {
	float: none;
}
.center-block.center-block-inline.col-xs-1, .center-block.center-block-inline.col-sm-1, .center-block.center-block-inline.col-md-1, .center-block.center-block-inline.col-lg-1, .center-block.center-block-inline.col-xs-2, .center-block.center-block-inline.col-sm-2, .center-block.center-block-inline.col-md-2, .center-block.center-block-inline.col-lg-2, .center-block.center-block-inline.col-xs-3, .center-block.center-block-inline.col-sm-3, .center-block.center-block-inline.col-md-3, .center-block.center-block-inline.col-lg-3, .center-block.center-block-inline.col-xs-4, .center-block.center-block-inline.col-sm-4, .center-block.center-block-inline.col-md-4, .center-block.center-block-inline.col-lg-4, .center-block.center-block-inline.col-xs-5, .center-block.center-block-inline.col-sm-5, .center-block.center-block-inline.col-md-5, .center-block.center-block-inline.col-lg-5, .center-block.center-block-inline.col-xs-6, .center-block.center-block-inline.col-sm-6, .center-block.center-block-inline.col-md-6, .center-block.center-block-inline.col-lg-6, .center-block.center-block-inline.col-xs-7, .center-block.center-block-inline.col-sm-7, .center-block.center-block-inline.col-md-7, .center-block.center-block-inline.col-lg-7, .center-block.center-block-inline.col-xs-8, .center-block.center-block-inline.col-sm-8, .center-block.center-block-inline.col-md-8, .center-block.center-block-inline.col-lg-8, .center-block.center-block-inline.col-xs-9, .center-block.center-block-inline.col-sm-9, .center-block.center-block-inline.col-md-9, .center-block.center-block-inline.col-lg-9, .center-block.center-block-inline.col-xs-10, .center-block.center-block-inline.col-sm-10, .center-block.center-block-inline.col-md-10, .center-block.center-block-inline.col-lg-10, .center-block.center-block-inline.col-xs-11, .center-block.center-block-inline.col-sm-11, .center-block.center-block-inline.col-md-11, .center-block.center-block-inline.col-lg-11, .center-block.center-block-inline.col-xs-12, .center-block.center-block-inline.col-sm-12, .center-block.center-block-inline.col-md-12, .center-block.center-block-inline.col-lg-12 {
	display: inline-block;
	vertical-align: top;
}
.center-block.center-block-inline.vcenter.col-xs-1, .center-block.center-block-inline.vcenter.col-sm-1, .center-block.center-block-inline.vcenter.col-md-1, .center-block.center-block-inline.vcenter.col-lg-1, .center-block.center-block-inline.vcenter.col-xs-2, .center-block.center-block-inline.vcenter.col-sm-2, .center-block.center-block-inline.vcenter.col-md-2, .center-block.center-block-inline.vcenter.col-lg-2, .center-block.center-block-inline.vcenter.col-xs-3, .center-block.center-block-inline.vcenter.col-sm-3, .center-block.center-block-inline.vcenter.col-md-3, .center-block.center-block-inline.vcenter.col-lg-3, .center-block.center-block-inline.vcenter.col-xs-4, .center-block.center-block-inline.vcenter.col-sm-4, .center-block.center-block-inline.vcenter.col-md-4, .center-block.center-block-inline.vcenter.col-lg-4, .center-block.center-block-inline.vcenter.col-xs-5, .center-block.center-block-inline.vcenter.col-sm-5, .center-block.center-block-inline.vcenter.col-md-5, .center-block.center-block-inline.vcenter.col-lg-5, .center-block.center-block-inline.vcenter.col-xs-6, .center-block.center-block-inline.vcenter.col-sm-6, .center-block.center-block-inline.vcenter.col-md-6, .center-block.center-block-inline.vcenter.col-lg-6, .center-block.center-block-inline.vcenter.col-xs-7, .center-block.center-block-inline.vcenter.col-sm-7, .center-block.center-block-inline.vcenter.col-md-7, .center-block.center-block-inline.vcenter.col-lg-7, .center-block.center-block-inline.vcenter.col-xs-8, .center-block.center-block-inline.vcenter.col-sm-8, .center-block.center-block-inline.vcenter.col-md-8, .center-block.center-block-inline.vcenter.col-lg-8, .center-block.center-block-inline.vcenter.col-xs-9, .center-block.center-block-inline.vcenter.col-sm-9, .center-block.center-block-inline.vcenter.col-md-9, .center-block.center-block-inline.vcenter.col-lg-9, .center-block.center-block-inline.vcenter.col-xs-10, .center-block.center-block-inline.vcenter.col-sm-10, .center-block.center-block-inline.vcenter.col-md-10, .center-block.center-block-inline.vcenter.col-lg-10, .center-block.center-block-inline.vcenter.col-xs-11, .center-block.center-block-inline.vcenter.col-sm-11, .center-block.center-block-inline.vcenter.col-md-11, .center-block.center-block-inline.vcenter.col-lg-11, .center-block.center-block-inline.vcenter.col-xs-12, .center-block.center-block-inline.vcenter.col-sm-12, .center-block.center-block-inline.vcenter.col-md-12, .center-block.center-block-inline.vcenter.col-lg-12 {
	vertical-align: middle;
}
.center-block .row {
    margin-left: 0;
    margin-right: 0;
}
.wrapper.wrapper-center-block, .header.wrapper-center-block, .footer.wrapper-center-block {
	padding-right: 5px;
}
.no-gutter .col-xs-1, .no-gutter .col-sm-1, .no-gutter .col-md-1, .no-gutter .col-lg-1, .no-gutter .col-xs-2, .no-gutter .col-sm-2, .no-gutter .col-md-2, .no-gutter .col-lg-2, .no-gutter .col-xs-3, .no-gutter .col-sm-3, .no-gutter .col-md-3, .no-gutter .col-lg-3, .no-gutter .col-xs-4, .no-gutter .col-sm-4, .no-gutter .col-md-4, .no-gutter .col-lg-4, .no-gutter .col-xs-5, .no-gutter .col-sm-5, .no-gutter .col-md-5, .no-gutter .col-lg-5, .no-gutter .col-xs-6, .no-gutter .col-sm-6, .no-gutter .col-md-6, .no-gutter .col-lg-6, .no-gutter .col-xs-7, .no-gutter .col-sm-7, .no-gutter .col-md-7, .no-gutter .col-lg-7, .no-gutter .col-xs-8, .no-gutter .col-sm-8, .no-gutter .col-md-8, .no-gutter .col-lg-8, .no-gutter .col-xs-9, .no-gutter .col-sm-9, .no-gutter .col-md-9, .no-gutter .col-lg-9, .no-gutter .col-xs-10, .no-gutter .col-sm-10, .no-gutter .col-md-10, .no-gutter .col-lg-10, .no-gutter .col-xs-11, .no-gutter .col-sm-11, .no-gutter .col-md-11, .no-gutter .col-lg-11, .no-gutter .col-xs-12, .no-gutter .col-sm-12, .no-gutter .col-md-12, .no-gutter .col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {
	.center-block.center-block-inline.col-xs-1, .center-block.center-block-inline.col-sm-1, .center-block.center-block-inline.col-md-1, .center-block.center-block-inline.col-lg-1, .center-block.center-block-inline.col-xs-2, .center-block.center-block-inline.col-sm-2, .center-block.center-block-inline.col-md-2, .center-block.center-block-inline.col-lg-2, .center-block.center-block-inline.col-xs-3, .center-block.center-block-inline.col-sm-3, .center-block.center-block-inline.col-md-3, .center-block.center-block-inline.col-lg-3, .center-block.center-block-inline.col-xs-4, .center-block.center-block-inline.col-sm-4, .center-block.center-block-inline.col-md-4, .center-block.center-block-inline.col-lg-4, .center-block.center-block-inline.col-xs-5, .center-block.center-block-inline.col-sm-5, .center-block.center-block-inline.col-md-5, .center-block.center-block-inline.col-lg-5, .center-block.center-block-inline.col-xs-6, .center-block.center-block-inline.col-sm-6, .center-block.center-block-inline.col-md-6, .center-block.center-block-inline.col-lg-6, .center-block.center-block-inline.col-xs-7, .center-block.center-block-inline.col-sm-7, .center-block.center-block-inline.col-md-7, .center-block.center-block-inline.col-lg-7, .center-block.center-block-inline.col-xs-8, .center-block.center-block-inline.col-sm-8, .center-block.center-block-inline.col-md-8, .center-block.center-block-inline.col-lg-8, .center-block.center-block-inline.col-xs-9, .center-block.center-block-inline.col-sm-9, .center-block.center-block-inline.col-md-9, .center-block.center-block-inline.col-lg-9, .center-block.center-block-inline.col-xs-10, .center-block.center-block-inline.col-sm-10, .center-block.center-block-inline.col-md-10, .center-block.center-block-inline.col-lg-10, .center-block.center-block-inline.col-xs-11, .center-block.center-block-inline.col-sm-11, .center-block.center-block-inline.col-md-11, .center-block.center-block-inline.col-lg-11 {
		margin-right: -4px;
	}

	.wrapper.wrapper-center-block, .header.wrapper-center-block, .footer.wrapper-center-block {
		padding-right: 0;
	}
}


/**
 * 2.0 Layout/Banner Styles
 * -----------------------------------------------------------------------------
 */
.wrapper {
	position: relative;
	padding: 40px 0;
}
.wrapper-bg-banner {
	overflow: hidden;
}
.wrapper-bg-banner > .bg-text.middle > .fill, .wrapper-bg-banner > .bg-text.bottom > .fill {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.wrapper-bg-banner > .bg-text.bottom > .fill {
    vertical-align: bottom;
}
.vcenter {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.img-background {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
}
.bg-wrapper {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
.bg-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50% !important;
	min-height: 50%;
	object-fit: cover;
}
@media (min-width: 768px) {
    .wrapper {
		padding: 70px 0;
	}
    .wrapper.wrapper-lg {
		padding: 100px 0;
	}
}


/**
 * 3.0 Typography Styles
 * -----------------------------------------------------------------------------
 */
@media (max-width: 767px) {
	.text-xs-left {
		text-align: left !important;
	}
	.text-xs-center {
		text-align: center !important;
	}
	.text-xs-right {
		text-align: right !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.text-sm-left {
		text-align: left !important;
	}
	.text-sm-center {
		text-align: center !important;
	}
	.text-sm-right {
		text-align: right !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.text-md-left {
		text-align: left !important;
	}
	.text-md-center {
		text-align: center !important;
	}
	.text-md-right {
		text-align: right !important;
	}
}
@media (min-width: 1200px) {
	.text-lg-left {
		text-align: left !important;
	}
	.text-lg-center {
		text-align: center !important;
	}
	.text-lg-right {
		text-align: right !important;
	}
}


/**
 * 4.0 Media Styles
 * -----------------------------------------------------------------------------
 */
.img-inline, .img-responsive.img-inline {
	display: inline-block;
}



/**
 * 5.0 Template Styles
 * -----------------------------------------------------------------------------
 */

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000001;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bitter', serif;
	line-height: 1.25;
    font-weight: 400;
}
h1 {
	font-size: 45px;
	letter-spacing: 3px;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: -2px;
	text-transform: uppercase;
}
h2 {
	font-size: 40px;
	font-weight: 700;
    line-height: 1.4;
    font-family: 'raleway', sans-serif;
}
h3 {
	font-size: 26px;
	color: #C0242B;
	font-family: 'raleway', sans-serif;
}
h4 {
	font-size: 28px;
	margin-bottom: 60px;
}
h4.lined {
	margin-bottom: 25px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}
.title-line {
    width: 115px;
    height: 2px;
    background: #C0242B;
    display: block;
    margin: 20px auto 60px;
}
h5 {
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	font-family: 'raleway', sans-serif;
}
p {
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Lato', sans-serif;
}
p.lg {
	font-size: 18px;
	line-height: 1.8;
	font-family: 'raleway', sans-serif;
}
a {
	color: #fff;
}
img {
	max-width: 100%;
}
.btn {
	margin-top: 28px;
	background: transparent;
	color: #feffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
	padding: 15px 25px;
	min-width: 160px;
	white-space: normal;
	text-shadow: 0px 0px 6px #000;
	border: 2px solid #C0242B;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
	-moz-transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
	-ms-transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
	-o-transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
	transition: background 150ms ease, color 150ms ease, border-color 150ms ease;
}
.btn:hover, .btn:focus {
	color: #c0242b;
	background: #fff;
	border-color: #fff;
	text-shadow: none;
}
.btn-inline-wrap {
	display: inline-block;
	max-width: 100%;
}
.btn.btn-inline {
	display: block;
	max-width: 100%;
	float: left;
}
.row-vr {
	position: relative;
}
.vr {
	display: none;
	position: absolute;
    height: 100%;
    width: 2px;
    background: #232423;
    top: 0;
}
.header {
	padding: 20px 0;
	background: #fff;
}
.header-nav {
    margin: 20px 0 0;
    padding: 0;
    list-style-type: none;
}
.header-nav li {
    display: inline-block;
	max-width: 100%;
}
.header-nav a {
    display: block;
    margin: 2px 20px;
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.contact-bar {
    color: #fff;
	padding: 14px 0;
	background: #C0242B;
}
.contact-bar .tagline {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.contact-bar .contact-line {
	display: block;
}
.contact-bar .contact-line:first-child {
	margin-left: 0;
}
.contact-bar .contact-line p {
	display: inline-block;
    color: #fff;
	max-width: 100%;
	margin-left: 10px;
	margin-bottom: 0;
}
.banner {
	color: #fefeff;
	background: #cdcccc;
	text-shadow: 0px 0px 6px #000;
}
.banner .lg {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}
.about {
	background: #fafafa;
}
.about-content {
	margin: 20px 0;
}
.details {
	color: #fefefd;
	background: rgba( 50, 50, 50, 1);
}
.details img {
    margin-bottom: 20px;
	max-width: 100% !important;
}
.profiles {
	background: rgba(0,0,0,0.38);
}
.profiles .fill {
    max-width: 280px;
    margin: 0 auto 20px;
}
.profiles img {
    margin-bottom: 22px;
	max-width: 100% !important;
}
.profiles .icon-list {
	color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.profiles .icon-list li {
    display: inline-block;
    margin: 0 6px;
    position: relative;
}
.profiles .icon-list a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
}
.testimonials {
	background: #f4f4f5;
}
.testimonials h4 {
    margin-bottom: 20px;
}
.testimonials h4:after {
	display: none;
}
.testimonials blockquote.testimonial {
    border-left: none;
    border-top: 1px solid #232322;
    padding: 30px 0;
	margin: 0;
    max-width: 475px;
}
.testimonials blockquote.testimonial:first-child {
	border-top: none;
    padding-top: 10px;
}
.testimonial img {
    float: left;
    max-width: 65px !important;
	margin-right: 20px;
}
.testimonial .fill {
	overflow: hidden;
}
.cta {
	color: #fefdfe;
	background: rgba( 50, 50, 50, 1);
}
.cta .title-line {
    margin-bottom: 25px;
}
#map_canvas {
	height: 340px;
	text-align: center;
}
.maps iframe {
	pointer-events: none;
}
.footer {
	color: #fefdfd;
	font-size: 14px;
	background: rgba( 50, 50, 50, 1);
}
.footer h5 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fefdfd;
	font-weight: 700;
	margin-bottom: 20px;
}
.footer p, .footer a {
	font-size: 14px;
}
.footer .fill {
	display: inline-block;
	text-align: center;
	min-width: 100%;
	max-width: 100%;
}
.footer .footer-logo {
	margin-bottom: 25px;
}
.footer .footer-logo-text {
    margin: 0 auto 25px;
    max-width: 300px;
}
.footer-icon-wrapper.footer-location-wrapper {
    margin-bottom: 28px;
}
.footer-icon-wrapper {
	display: inline-block;
	max-width: 100%;
}
.footer-icon-wrapper .fa {
	float: left;
    position: relative;
    top: 4px;
	width: 15px;
	margin-right: 15px;
}
.footer-icon-wrapper p {
	margin-bottom: 0;
	text-align: left;
	overflow: hidden;
}
.footer-legal {
	border-top: 1px solid #fdfdfe;
	padding: 25px 0;
}
.footer-legal .footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-legal .footer-list li {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 3px 0;
    margin: 0 5px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color: #ebebeb;
    border: 1px solid #ebebeb;
    transition: all 0.5s ease 0s;
}
.footer-legal .footer-list li:hover {
	background: #C02C32;
	border: 1px solid #C02C32;

}
.footer-legal .footer-list li:first-child {
	margin-left: 0;
}
.footer-list a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-indent: -9999px;
}
.footer .copyright {
	margin-bottom: 0;
}



@media (min-width: 768px) {
	h1 {
		font-size: 55px;
	}
	.contact-bar .contact-line {
		margin-left: none;
	}
	.banner {
		padding: 85px 0;
	}
	.footer .fill {
		text-align: left;
	}
	.footer-icon-wrapper {
		min-width: 100%;
	}
	.footer .footer-logo-text {
		margin-left: 0;
	}
}
@media (min-width: 992px) {
	.header-nav {
		margin: 0;
	}
	.contact-bar .contact-line {
		display: inline-block;
		max-width: 100%;
		margin-left: 60px;
	}
	.banner {
		padding: 115px 0;
	}
	.about .fill {
	    padding-right: 60px;
	}
	.about .vr, .testimonials .vr {
		display: block;
		left: 58.33333333%;
		margin-left: -15px;
	}
}
@media (min-width: 1200px) {
	.banner {
		padding: 145px 0;
	}
	.about .fill {
	    padding-right: 160px;
	}
}

.clients {
	background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
}

.client-item {
	padding: 15px;
}

.client.client-grid {
    overflow: hidden;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}